@import "tailwindcss";

:root {
  --background: #b6ccda;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
/* 
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 2rem;
  color: white;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr auto;
  grid-template-rows: repeat(4, auto);
}

.wrapper {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  > div {
    display: flex;
    gap: 2rem;

    div {
      font-size: 2rem;
    }
  }

  ul {
    padding: 0;
    display: flex;
    gap: 3rem;

    li {
      list-style: none;
    }
  }
}

.wrapper2 {
  h1 {
    font-size: 3rem;
  }
  .img {
    max-width: 40%;
  }
}

.border-3 {
  border-width: 3px;
  border-color: #fff;
  border-style: solid;
}

.dots {
  cursor: pointer;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 99px;
} */
